@import 'bootstrap-config';
@import 'font-awesome';

html {
  /* for chrome app */
  overflow-y: auto;
}

body:before {
  position: absolute;
  left: 0px;
  top: 0px;

  content: 'ImpAmp2';
  font-size: 32px;
  margin-top: -25px;
  padding-top: 50px;
  padding-left: 90px;

  background-image: url('../images/i.png');
  background-size: 90px 100px;
  background-repeat: no-repeat;
  background-position:left;

  height: 100px;
  width: 90px;

  z-index: -1;
}

body {
  margin-top: 100px;
}

footer {
  p {
    color: $gray;
    margin: 0;
    line-height: normal;
    font-size: small;
  }
}

.modal-header h3 {
  color: #333333;
}

.modal-body {
  color: #333333;
}

#pad-pages {
  /*
    border: rgba(226, 107, 24, 1) 1px solid;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgba(226, 107, 24, .8);
  */

  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pad-page {
  overflow: hidden;
}

.padish {
  position: relative;
  margin-bottom: 20px;

  .btn {
    width: 100%;
    height: 7em;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .name {
    word-break: break-word;
    hyphens: auto;
  }

  .progress {
    position: absolute;

    margin-bottom: 0;

    bottom: 0.5em;
    left:  10px;
    right: 10px;

    & > span {
      position: absolute;
      left:   0;
      right:  0;
      top:    0;
      bottom: 0;
    }
  }
}

.pad {
  @extend .padish;

  /* Hide these error messages - we'll deal with it ourselves thanks. */
  .me-cannotplay {
    display: none;
  }

  &.disabled {
    .btn {
      @extend .disabled;
    }
  }

  &.error {
    .btn {
      @extend .btn-danger;
    }
  }

  &.hover {
    .btn {
      @extend .btn-primary;
    }
  }

  .delete-button {
    position: absolute;

    top:    0;
    bottom: 0;
    left:   0;
    right:  0;

    border-radius: 5px;

    background: rgba(255, 0, 0, 0.6);

    text-align: center;
    line-height: 5em;

    text-decoration: none;
  }
}

#now-playing h2 {
  height: 1.6em;
}

.now-playing-item {
  @extend .padish;

  margin-bottom: 0;

  .btn {
    height: 5em;
  }
}

.pad-page [data-shortcut] {
  position: relative;
}

.pad-page [data-shortcut]::before {
  position: absolute;
  content:  attr(data-shortcut);

  text-transform:uppercase;
  text-align: center;

  font-weight: bold;

  bottom: 0.5em;
  left:   0px;
  right:  0px;

  color: #bbbbbb;
}

.options {
  position: absolute;

  top:   20px;
  right: 20px;

  .dropdown-menu {
    right: 0;
    left: inherit;
  }
}

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid rgba(226, 107, 24, 1);
}
// Actual tabs (as links)
.nav-tabs > li > a {
  &:hover {
    background-color: #000;
    border-color: rgba(226, 107, 24, 1);
    border-bottom-color: transparent;
    color: #fff;
  }
}
// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: rgba(226, 107, 24, 1);
  border: 1px solid rgba(226, 107, 24, 1);
  border-bottom-color: transparent;
}

.fade-out .progress .bar {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}