<footer>
  <p>
    Please report bugs <a href="http://redmine.haydenball.me.uk/projects/impamp2">here</a>.
  </p>

  <p>
    This is ImpAmp version <span id="version">2</span>.
    <a data-toggle="collapse" href="#about">About ImpAmp</a>.
    <a href="#help_modal" role="button" data-toggle="modal">Help</a>.
  </p>

  <div id="about" class="collapse">
    <p>
      Version 2 by Hayden Ball (2013).
      Original by Alistair Marshall (2007), rebuilt by Ben Hussey and Callum Adam (Fringe 2009).
    </p>
    <p>
      Thanks to all the Imps &amp; Imps Tech who contributed.
    </p>
    <p>
      Please note this is free software, use at your own risk. I am not responsible for any missed cues, crashed computers or other technical difficulties you may experience.
    </p>
  </div>
</footer>