<div id="help_modal" class="modal hide fade" role="dialog" aria-labelledby="help_header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="help_header">ImpAmp Help</h3>
  </div>
  <div class="modal-body">
    <h2>
      Firing Pads
    </h2>
    <p>
      Pads can be fired by clicking them or pressing the associated keys.
      Yes, it's really that simple.
    </p>

    <h2>
      Emergencies
    </h2>
    <p>
      Pressing Enter will stop all playing pads and fire a random pad on
      any page with "Contains Emergencies?" checked.
    </p>

    <h2>
      Assigning Audio Files
    </h2>
    <p>
      Audio files should be dropped from your file browser onto a pad.
    </p>

    <h2>
      Renaming Pads / Pages
    </h2>
    <p>
      Control + Click on any pad / page header to rename it.
    </p>

    <h2>
      Moving Pads
    </h2>
    <p>
      Drag and Drop pads to move them.
    </p>

    <h2>
      Deleting Pads
    </h2>
    <p>
      Click the cog icon, then choose "Enter delete mode". Click on any
      pads you wish to remove, then choose "Exit delete mode" from the
      cog menu.
    </p>

    <h2>
      Sync
    </h2>
    <p>
      Sync will be enabled when you load ImpAmp. To disable it, click the
      sync button (top right, next to the cog).
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>