<div id="loading-modal" class="modal hide fade" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3 id="loadingModalLabel">Loading Pads</h3>
  </div>
  <div class="modal-body">
    <p>
      <i class="icon-spinner icon-spin icon-large"></i>
      Loaded <span id="pads-loaded"></span> of <span id="pads-total"></span> pads.
    </p>
  </div>
</div>