<div class="row">
  <% for key in settings.keyboard %>
    <% case key %>
      <% when "esc" %>
        <div class="padish span1">
          <a class="btn" data-shortcut="<%= key %>">
            <span class="name">
              Stop All
            </span>
          </a>
        </div>
      <% when "space" %>
        <div class="padish span1 fade-out">
          <a class="btn" data-shortcut="<%= key %>">
            <span class="name">
              Fade Out All
            </span>

            <div class="progress" style="display: none;">
              <div class="bar"></div>
              <span></span>
            </div>
          </a>
        </div>
      <% else %>
        <div class="pad span1 disabled">
          <a class="btn" data-shortcut="<%= key %>">
            <span class="name"></span>

            <audio></audio>

            <div class="progress" style="display: none;">
              <div class="bar"></div>
              <span></span>
            </div>
          </a>
        </div>
    <% end %>
  <% end %>
</div>